<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}} - FXChampionship - A Gathering Place for World-Class Traders</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="src/assets/css/styles.min.css" />
  <meta name="description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta name="keywords"
    content="Trader competition prizes, Trading competition entry fee, Professional trading environment, Investment opportunities, Million-dollar investments,Profit sharing, Trader training program, Hedge fund trading, Banking sector opportunities, Financial competition rewards">
  <meta property="og:type" content="website">
  <meta property="og:title" content="FXChampionship - A Gathering Place for World-Class Traders">
  <meta property="og:description"
    content="Win the competition, and you could receive $5,000, $50,000, or even $500,000, with an entry fee of only $100. Gain the opportunity to participate in training and become a trader in a professional environment (banks, hedge funds, etc.). Seize the chance to invest millions of dollars and reap profits from it.">
  <meta property="author" content="fxchampionship.com">
  <meta property="generator" content="fxchampionship.com">
  <meta property="og:url" content="https://fxchampionship.com">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image" content="src/assets/images/logos/apple-touch-icon.png">
  <meta property="og:image:alt" content="FXChampionship - A Gathering Place for World-Class Traders">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {{template "left-sidebar.html"}}
    <div class="body-wrapper">
      {{template "header.html"}}
      <div class="container-fluid">
        <div class="col-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Competition Requests</h5>
              <div class="table-responsive table-option">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4 sticky-top bg-light">
                    <tr>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">ID/TranID</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Type</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Created/Updated</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Name/Phone/Email</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Amount</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Status</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Confirmation</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Rejection</h6>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="transaction-list">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal modal-lg fade" id="modal_transaction_info" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="approval_title"></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text w-25">Contest ID</span>
              <input id="inpContestID" type="text" class="form-control" placeholder="Contest ID" aria-label="Contest ID"
                aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25">CustomerID</span>
              <input id="inpCustomerID" type="text" class="form-control" placeholder="CustomerID"
                aria-label="inpCustomerID" aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25" id="basic-addon1">LoginID</span>
              <input id="inpLoginID" type="number" class="form-control" placeholder="LoginID" aria-label="LoginID"
                aria-describedby="basic-addon1" required>
              <span id="fb_fx_id_text"></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25" id="basic-addon1">MasterPassword</span>
              <input id="inpMasterPassword" type="text" class="form-control" placeholder="MasterPassword"
                aria-label="MasterPassword" aria-describedby="basic-addon1" required>
              <span id="fb_fx_master_password"></span>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text w-25" id="basic-addon1">InvestorPassword</span>
              <input id="inpInvestorPassword" type="text" class="form-control" placeholder="InvestorPassword"
                aria-label="InvestorPassword" aria-describedby="basic-addon1" required>
              <span id="fb_fx_invester_password"></span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <br>
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
          <button id="confirm_for_transaction" type="button" class="btn btn-secondary">Confirmation</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_transaction_reject" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Transaction information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="transaction-information-reject"></div>
        </div>
        <div class="modal-footer">
          <br>
          <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> -->
          <button id="reject_for_transaction" type="button" class="btn btn-danger">Rejection</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/assets/js/app.min.js"></script>
  <script src="src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="src/assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="src/assets/js/competitions.js"></script>
  <script src="src/assets/js/header.js"></script>
  <script src="src/assets/js/sidebarmenu.js"></script>
</body>

</html>
